<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database For University</title>
    <link rel='stylesheet' href='/stylesheets/styles.css' />
</head>
<body>
<div class="content">
    <nav>
        <ul>
            <li><a href="/"> Home </a> </li>
            <li><a href="/department"> Department </a> </li>
            <li><a href="/course"> Course </a> </li>
            <li><a href="/student"> Student </a> </li>
            <li><a href="/hobbies"> Hobbies </a> </li>
            <li><a href="/societies"> Societies </a> </li>
            <li><a href="/activities"> Activities </a> </li>
        </ul>
    </nav>
    <header class="hero">
        <h1> University of Surrey Societies </h1>
        <p> Welcome to University of Surrey </p>
        <a href="/societies" class="cta-button"> Explore Societies </a>
    </header>
    <section class="about">
        <h2> About our Societies and Activities </h2>
        <p> Welcome to UoS. Our University has many activities run by our societies. You can see all the upcoming events on our "Activities" page that you can access through the content part. We keep the data of every each one of our students in order to suggest them some societies that are related to their hobbies if they want be suggested some.
            So if you want to see some available societies and events held by our university that may interest you, make sure to contact us! </p>
    </section>
</div>


</body>
</html>